################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/desafiobackend/FileContentIndex/f9d895b0-9ba2-4563-ab43-de711303ca21.vsidx
*.vsidx
